*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    background-color: #f0f6f9;
}
header{
    width: 100%;
    height: 50px;
    background-color: black;
}
header>nav{
    min-width: 300px;
    max-width: 960px;
    margin: auto;
    padding: 0 100px;
}
#logo{
    float: left;
    height: 50px;
}
#logo>img{
    width: 40px;
    height: 40px;
    line-height: 50px;
    margin: 5px 10px;
}
nav>ul{
    float: right;
}
nav>ul>li{
    float: left;
    margin: 0 10px;
    line-height: 50px;
    color: #ffffff;
}
nav>ul>li>a{
    color: #ffffff;
}

main{
    min-width: 300px;
    max-width: 960px;
    margin: auto;
    margin-top: 30px;
}
main>header{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}
#markdown{
    width:100%;
    float: left;
}
article{
    background:#ffffff;
    width:calc(100% - 240px);
    float:left;
    min-height: 600px;
    box-sizing: border-box;
    padding:20px;
    border-radius: 10px;
}
aside{
    width:220px;
    height:calc(100vh - 40px);
    float: right;
    background:#c1f0c6;
    position:sticky;
    top:20px;
    box-sizing: border-box;
    border-radius: 10px;
}
#goup{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: black;
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    left: 85px;;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
}








main>header{
    padding-top: 10px;
}
main>header>*{
    text-align: center;
    margin: 10px;
}
.about{
    color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 30px;
}
.clear::after{
    content: '';
    display: block;
    clear: both;
}

footer{
    margin-top: 30px;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #24292e;
    color: #f6f8fa;
}

