footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    background-color: #24292e;
    color: #f6f8fa;
}




.main_blog {
    overflow: hidden;
    background-image: url(../photos/index.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-bottom: 100px;
    margin-bottom: 0;

}

.notshow {
    display: none;
}


.about {
    width: 312px;
    float: left;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px;
}

.about ul li {
    color: #ffffff;
    font-size: 14px;
    margin: 10px 5px;
    background-color: #24292e;
    border-radius: 50px;
    padding: 10px;
    line-height: 35px;
}

.about ul li:hover {
    transform: scale(1.05);
}

.about ul li a {
    color: #07c160;
}

.about ul li:first-child {
    color: rgba(0, 0, 0, .9);
    background-color: #07c160;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 26px;
}

.about ul {
    user-select: none;
    background-color: rgba(233, 233, 233, .6);
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 75px;
    overflow: hidden;
}

.show {
    padding: 40px 88px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(233, 233, 233, .6);
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    overflow: hidden;
    min-height: 100vh;
}

@media (max-width:800px) {
    .about {
        float: none;
        width: 100%;
        box-sizing: border-box;

    }

    .show {
        padding: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    /* //ios设备不支持解决方案 */
    .main_blog {
        background: rgba(255, 255, 255, 0) center 0 no-repeat;
        background-size: 100%;
        background-attachment: fixed;
    }

    .main_blog::before {
        content: ' ';
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../photos/2.jpeg) center 0 no-repeat;
        background-size: cover;
    }
}


/* 导航栏部分 */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:visited {
    color: #fff;
}

header.dhl {
    background-color: black;
    position: relative;
}

header.dhl>nav {
    max-width: 1000px;
    margin: 0 auto;
    height: 50px;
    background-color: black;
    color: #fff;
    padding: 10px 40px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-items: center;
}

.logo>img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    object-fit: cover;
}

header.dhl>nav>ul {
    display: flex;
    width: 200px;
    height: 30px;
    justify-content: space-between;
    justify-items: center;
}

header.dhl>nav>ul>li {
    list-style-type: none;
    line-height: 30px;
}

.close {
    display: none;
}

@media (max-width:550px) {
    header.dhl>nav>ul {
        display: none;
    }

    .close {
        display: flex;
        line-height: 30px;
        font-size: 40px;
        transform: rotate(90deg);
        user-select: none;
    }

    .list {
        display: block !important;
        position: absolute !important;
        left: 0;
        right: 0;
        top: 50px;
        background-color: black;
        width: 100% !important;
        height: calc(100vh - 50px) !important;
    }

    .list>li {
        text-align: center;
        line-height: 60px !important;
        border: #fff solid 1px;
        border-radius: 30px;
        margin: 30px 40px;
    }

}